@import "tailwindcss";
@import './fonts.css';

@font-face {
  font-family: '87mmilsang';
  src: url('./fonts/87MMILSANG-Regular.woff2') format('woff2'),
       url('./fonts/87MMILSANG-Regular.woff') format('woff');
  font-display: swap;
}

:root {
  --font-primary: '87mmilsang';
  --background: #f3f4f6;
  --foreground: #1a1a1e;
  --primary: #c179ff;
}

@layer base {
  html,
  body {
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    background: var(--background);
    color: var(--foreground);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  button {
    all: unset;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.2s ease;
  }

  p {
    margin: 0;
    word-break: keep-all;
  }

  button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  em {
    font-style: normal;
    word-break: keep-all;
  }

  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    word-break: keep-all;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
  }

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  input,
  textarea,
  select {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    border: none;
    background: transparent;
    outline: none;
  }

  textarea {
    resize: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #34343a inset !important;
    -webkit-text-fill-color: #9CA3AF !important;
    transition: background-color 5000s ease-in-out 0s;
    font-size: 1rem !important;
    font-weight: 500 !important;
  }

}

::-webkit-scrollbar {
  width: 0.1875rem;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 0.5rem;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
mux-player {
    --media-accent-color: var(--purple-600) !important;

}